
/* 공통 카드 스타일 */
.day-box {
  border-radius: 15px;
  padding: 6px;
  position: relative;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
}


/* 모든 날짜 숫자 기본 스타일 (정렬 안정) */
.day-number {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: 0.15s ease-in-out;
}

.next-month-label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 20px;
  height: 50px;
  /* font-weight: 600; */
  position: absolute;
  color: #134A2F;
  top: 10px;
  right: 15px;
  transition: 0.15s ease-in-out;
}


/* 현재 달 */
.day-box.current .day-number {
  color: #000;
}

/* 이전/다음 달 */
.day-box.prev .day-number,
.day-box.next .day-number {
  color: #134A2F;
}

/* 오늘 날짜만 강조 스타일 */
.day-box.today .day-number {
  background-color: red;
  color: #fff !important;
}

.day-box:nth-child(7n + 1),
.day-box:nth-child(7n) {
  background-color: #527E66;
}

.day-box.prev,
.day-box.next {
background-color: gray;
}

/* 파일 맨 아래에 위치 */
.day-box:hover {
  background-color: aliceblue !important;
}
